/*
  ****************************************
  GLOBAL
  ****************************************
 */
body{
    font-size: 16px;
    background-color: #172540;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    font-family: 'Karla', sans-serif;
}

.nav{
    margin-top: 10px;
}
.content{
    background-color: white;
}
.section{
    margin-bottom: 50px;
}
.card{
    height: 300px;
    margin: 15px;
    padding: 15px;
    background-color: #F8F8F8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}
.block-image{
    width: 240px;
}

#footer{
    color: white;
    margin-top:25px;
    margin-bottom:25px;
}
.soc-icon{
    height: 24px;
    width: 24px;
    margin: 0 4px;
}
/*
  ****************************************
  NAVBAR
  ****************************************
 */
.navbar{
    background-color: #172441;
    margin-bottom: 0;
}
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus{
    background-color: #235479
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus{
    background-color: #235479
}
.dropdown-menu{
    background-color: #FFFFFF
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    background-color: #235479
}
.navbar{
    background-image: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    background-image: none;
}
.navbar{
    border-color: #172441
}
.navbar .navbar-brand{
    color: #FFFFFF
}
.navbar .navbar-brand:hover{
    color: #FFFFFF
}
.navbar .navbar-nav > li > a{
    color: #FFFFFF
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus{
    color: #FFFFFF
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus{
    color: #FFFFFF
}
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus{
    color: #FFFFFF
}
.dropdown-menu > li > a{
    color: #333333
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    color: #FFFFFF
}
.navbar .navbar-nav > .dropdown > a .caret{
    border-top-color: #f14623
}
.navbar .navbar-nav > .dropdown > a:hover .caret{
    border-top-color: #FFFFFF
}
.navbar .navbar-nav > .dropdown > a .caret{
    border-bottom-color: #f14623
}
.navbar .navbar-nav > .dropdown > a:hover .caret{
    border-bottom-color: #FFFFFF
}
