<div class="container text-center" id="footer">
    <a href="https://cvilleracing.com" title="Charlottesville Racing Club">
        <img src="{{site.baseurl}}/images/crc-logo.svg" alt="CRC Logo" style="width:120px"/>
    </a>
    <a href="https://dairymarketcville.com/" title="The Dairy Market">
        <img src="{{site.baseurl}}/images/DairyMarket_Logo_Print_White.png" alt="Dairy Market logo" style="width:120px"/>
    </a>
    <br/>
    
    <a href="https://www.visitcharlottesville.org/" title="Visit Charlottesville">
        <img src="{{site.baseurl}}/images/logos/swoop_logo_default-01.png" alt="Visit Charlottesville logo" style="max-width:240px"/>
    </a>
    <br/>
    <br/>
    <a href="https://www.facebook.com/CvilleRacingClub">
        <img src="{{site.baseurl}}/images/f_logo_RGB-White_58.png" alt="CRC on Facebook" class="soc-icon"/>
    </a>
    <a href="https://www.instagram.com/cvlebikefest/">
        <img src="{{site.baseurl}}/images/glyph-logo_May2016.png" alt="CVLEBIKEFEST on Instagram" class="soc-icon"/>
    </a>
    <a href="https://twitter.com/cvlebikefest">
        <img src="{{site.baseurl}}/images/twitter.png" alt="CVLEBIKEFEST on Twitter" class="soc-icon"/>
    </a>
</div>
