<div id="footer">
    <div class="container text-center">
        <img src="{{site.baseurl}}/images/crc-logo.svg" alt="CRC Logo" style="width:120px"/>
        <br/>
        <br/>
        <a href="https://www.facebook.com/CvilleRacingClub">
            <img src="{{site.baseurl}}/images/f_logo_RGB-White_58.png" alt="CRC on Facebook" class="soc-icon"/>
        </a>
        <a href="https://www.instagram.com/cvlebikefest/">
            <img src="{{site.baseurl}}/images/glyph-logo_May2016.png" alt="CVLEBIKEFEST on Instagram" class="soc-icon"/>
        </a>
        <a href="https://twitter.com/cvlebikefest">
            <img src="{{site.baseurl}}/images/twitter.png" alt="CVLEBIKEFEST on Twitter" class="soc-icon"/>
        </a>
    </div>
</div>