<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
            </button>
            <a class="navbar-brand logo-nav" href="{{ site.baseurl }}/">                
                <img src="{{ site.baseurl }}/images/CBF-Logos-bikeman-7.png" alt="CBF" style="height:32px"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.baseurl }}/faq/">FAQ</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/sponsors/">Sponsors</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/restaurants/">Food, Drinks, and More</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/teams/">Teams</a>
                </li>
                <li>
                    <a href="https://cvilleracing.com/">CRC Home</a>
                </li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Junior MTB Team <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for page in site.juniors %}
                        {% assign sorted = site.juniors | sort:"order" %}
                        <li>
                            <a href="{{ site.baseurl }}{{page.id}}">{{page.title}}</a>
                        </li>
                        {% endfor %}                        
                    </ul>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/races">Races</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/sponsors">Sponsors</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/contact">Contact</a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
